[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-multipart = "*"
uvicorn = "*"
pymongo = "*" 
python-dotenv = "*"
boto3 = "*"
langchain-perplexity = "*"
pdfplumber = "*"
perplexityai = "*"
langchain-core = "*"
langsmith = "*"

[dev-packages]

[requires]
python_version = "3.12"
